@import url(base.css);


/*Basic page setup*/


/* Constrain the page to the viewport */
html, body {
  height: 100vh;
}

/* Task 2.1. Lay out the childs of the 'body' using Grid Template Areas. */
body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  
  grid-template-areas:
    "h"
    "n"
    "m"
    "f";

  grid-template-rows: auto auto 1fr auto;
}

header { grid-area: h; }
nav    { grid-area: n; }
main   { grid-area: m; }
footer { grid-area: f; }

@media (min-width: 900px) {
  body {
    grid-template-areas:
      "h h"
      "n m"
      "f f";

    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
  }
}


/*General styling*/


header, nav, footer {
  background: #222;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 200%;
  margin-bottom: 10px;
}

/* Remove unnecessary space and bullets from the lists */
ul {
  padding: 0px;
  margin: 16px;
  list-style-type: none;
}

/* navigation buttons have full width */
nav button {
  width: 100%;
}

/* Task 3.1. Make the header element a flex container and center its children
   vertically and horizontally.
 */
 header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center the nav's header and list */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Task 3.2. Make the list items of the unordered list in the nav element a flex container, 
   use column direction and center the child items
 */
 nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Task 3.3. Make the main element a Flexbox container */
main {
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}


/* Task 3.4. Make the footer's ul a Flexbox container */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Movie cards styling*/


img {
    max-width: 200px;
    border-radius: 10px;
}

article {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    flex: 0 0 700px;
}

a {
  color: beige;
}

span {
  margin-right: 4px;
}

.genre {
    background: lightblue;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    display: inline-block;
}
